force-app/main/default/flows/Flow_for_Updating_Registered_Attendees.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Registration_Status</name>
        <label>Registration Status</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Registration_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Event</targetReference>
            </connector>
            <label>Check Registration Status</label>
        </rules>
        <rules>
            <name>De_Registration_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Event_on_Delete</targetReference>
            </connector>
            <label>De Registration Status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Decrement</name>
        <dataType>Number</dataType>
        <expression>{!Get_Related_Event_on_Delete.Registered_Attendees__c}-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Increment</name>
        <dataType>Number</dataType>
        <expression>{!Get_Related_Event.Registered_Attendees__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Flow for Updating Registered Attendees {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow for Updating Registered Attendees</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Event</name>
        <label>Get Related Event</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Increment_Attendees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Event_on_Delete</name>
        <label>Get Related Event on Delete</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decrement_Attendees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Decrement_Attendees</name>
        <label>Decrement Attendees</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Registered_Attendees__c</field>
            <value>
                <elementReference>Decrement</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Event__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Attendees</name>
        <label>Increment Attendees</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Registered_Attendees__c</field>
            <value>
                <elementReference>Increment</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Event__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Registration_Status</targetReference>
        </connector>
        <object>Registration__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
